# Directories to ignore
__pycache__/
.venv/
.github/
.vscode/
.git/

# Files to ignore
.gitignore
.env
db.sqlite3
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
